/* This forces the body to take up the whole screen with no scrollbars */
body, html, #root {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: black;
}